* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav Section */

button:hover,
.start-project:hover {
    background-color: rgb(3, 85, 139);
    transition: 1.5s ease;
}

.sub-btn input:hover {
    background-color: rgb(3, 85, 139);
    transition: 1.5s ease;
}

.navbar {
    position: relative;
    display: flex;
    width: 100%;
    padding: 25px 3% 10px 3%;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.logo img {
    width: 100%;
}

.nav-items {
    margin-top: 20px;

}

.nav-items ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

li.nav-item a {
    text-decoration: none;
    color: var(--primary-colors, #333);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}

.contact-btn {
    display: flex;
    width: 200px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--secendery, #09F);
    outline: none;
    border: none;
    transition: 1.5s ease;
}

.contact-btn a {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-decoration: none;
}

/* main-section */

.main-container {
    display: flex;
    width: 100%;
    height: 800px;
    padding: 10px 2% 10px 10%;
    justify-content: center;
    align-items: center;
    background: #FFF;
}

.left-section {
    width: 70%;
}

h1.left-head {
    width: 60%;
    color: var(--primary-colors, #333);
    font-family: Inter;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.9px;
}

.left-section p {
    color: var(--primary-colors, #333);
    width: 70%;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.left-btns {
    display: flex;
    gap: 15px;
}

button.start-project {
    display: flex;
    width: 30%;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid var(--basic, #FFF);
    background: var(--secendery, #09F);
    color: var(--basic, #FFF);
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    transition: 1.5s ease;
}

button.learn-more {
    width: 30%;
    border-radius: 4px;
    border: 1px solid var(--secendery, #09F);
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--secendery, #09F);
    background-color: #fff;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    transition: 1.5s ease;
}

button.learn-more:hover {
    background: var(--secendery, #09F);
    color: var(--basic, #FFF);
    border: 1px solid var(--basic, #FFF);
}

.right-section {
    border-radius: 335px;
    background: rgba(0, 153, 255, 0.10);
}

/* services-section */

.services-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 848px;
    padding: 120px 80px;
    justify-content: center;
    align-items: center;
    background: rgba(0, 153, 255, 0.04);
}

.services-top {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-bottom: 3%;
}

.services-items {
    display: flex;
    gap: 16px;
}

.service-item {
    display: flex;
    width: 308px;
    padding: 12px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(164, 217, 253, 0.15);
}

.service-item img {
    width: 100px;
    height: 100px;
}

.img-container {
    background-color: #E5F5FF;
    border-radius: 50%;
    padding: 18px;
}

.service-item .item-head {
    color: var(--primary-colors, #333);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 133%;
}

.service-item p {
    width: 255px;
    color: var(--body, #494949);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
}

.services-top p {
    color: var(--primary-colors, #333);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.services-top h4 {
    color: var(--primary-colors, #333);
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 138%;
}

p.service-des {
    width: 612px;
    color: var(--body, #494949);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 156%;
}

/* about-section */

.about-us {
    display: flex;
    width: 100%;
    height: 851px;
    padding: 80px 80px 120px 34px;
    align-items: center;
}

.about-left {
    width: 50%;
    height: 651px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.about-left img {
    border-radius: 258.5px;
    background: rgba(0, 153, 255, 0.10);
}

.about-right {
    width: 50%;
    height: auto 369px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.about-head {
    color: var(--primary-colors, #333);
    text-align: center;

    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.about-right h4 {
    color: var(--primary-colors, #333);
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 138%;
}

.about-des {
    color: var(--body, #494949);
    width: 70%;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 156%;
}

.more-about {
    color: #FFF;
    outline: none;
    border: none;
    font-family: Inter;
    font-size: 1.5vh;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    border-radius: 4px;
    background: var(--secendery, #09F);
    display: flex;
    width: 25%;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* experts-section */

.experts {
    width: 100%;
    height: 850px;
    background: rgba(0, 153, 255, 0.04);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experts-top {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 3%;
}

.experts-head {
    color: var(--primary-colors, #333);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.experts-top h4 {
    color: var(--primary-colors, #333);
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 138%;
}

.experts-des {
    color: var(--body, #494949);
    text-align: center;
    width: 494px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 156%;
}

.expert-cards {
    display: flex;
    flex-direction: row;
    gap: 34px;
}

.expert-card {

    width: 308px;
    height: 379px;
    flex-shrink: 0;
    border-radius: 4px 4px 0px 0px;
}

.expert-details-container {
    position: relative;
    bottom: 20%;
    left: 8%;
    z-index: 2;
    border-radius: 4.597px;
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(164, 217, 253, 0.15);
    width: 260px;
    height: 133.313px;
    flex-shrink: 0;
    transition: 1.5s ease;
}

.expert-details {
    display: flex;
    width: 95%;
    height: 106px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    flex-shrink: 0;
    padding: 12px 13px 28px 13px;

}

.expert-details-container:hover {
    background-color: #09F;
    color: #fff;
}

.expert-name {
    color: var(--primary-colors, #333);
    margin: 0;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;

}

.expert-position {
    color: var(--body, #494949);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

/* projects-section */

.projects {
    display: flex;
    padding: 100px 4%;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    width: 100%;
}

.projects-head {
    color: #000;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 138%;
    width: auto 326px;
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
    width: 100%;
}

.project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    background: #FFF;
    width: 25%;
    height: auto 100%;
    flex-shrink: 0;
    box-shadow: 2px 5px 6px 3px rgb(238, 238, 238);
    padding: 20px;
}

.project-item img {
    width: 98%;
    height: 70%;
    flex-shrink: 0;
}

.project-details {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    width: 100%;
    padding: 20px 10px;
}

.project-name {
    color: #000;
    text-align: left;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 133%;
    width: 100%;
}

.project-des {
    color: var(--body, #494949);
    width: 98%;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
}

.read-more {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
    border-bottom: 4px solid #09F;
    ;
}

.read-more p {
    color: var(--primary-colors, #333);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

/* faq section */

.faq {
    background: #F2FAFF;
    display: flex;
    width: 100%;
    padding: 120px 242px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.faq-head {
    color: var(--primary-colors, #333);
    text-align: center;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.faq h4 {
    color: var(--primary-colors, #333);
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 138%;
    margin-bottom: 80px;
}

.questions {
    display: flex;
    flex-direction: column;
}

.q1-hidden {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;

}

.q-default {
    padding-bottom: 50px;

}

.questions p {
    color: var(--body, #494949);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 156%;
}

.q-top {
    display: flex;
    justify-content: space-between;
}

.q-top p {
    color: var(--primary-colors, #333);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}

.question {
    display: flex;
    flex-direction: column;
    padding: 32px 32px 32px 32px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(164, 217, 253, 0.15);
    margin: 0px 8% 24px 8%;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Testimonial  */

.testimonial {
    display: flex;
    width: 100%;
    padding: 120px 80px 102px 80px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 48px;
    background: var(--white, #FFF);
}

.testimonial-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.testimonial-head {
    color: var(--black, #000);
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 138%;
}

.testimonial-des {
    color: var(--body, #494949);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 156%;
}

.testimonial-contents {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.testimonial-content {
    display: flex;
    width: 32.8%;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
}

.stars {
    display: flex;
    align-items: flex-start;
    gap: 4px;
}

.testimonial-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.testimonial-details p {
    color: var(--body, #494949);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
}

.customer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.avatar-img img {
    border-radius: 56px;
}

.customer-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.customer-name {
    color: var(--primary-colors, #333);
    font-family: inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.customer-position {
    color: var(--body, #494949);
    font-family: inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

/* cta section */

.cta {
    width: 92%;
    margin: 0px 4% 1px 4%;
    height: 348px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--primary-colors, #333);
    display: flex;
    justify-content: flex-start;
    padding: 10% 9%;
    align-items: center;
}

.cta-left {
    width: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.cta-left h4 {
    color: var(--basic, #FFF);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 133%;
}

.cta-left p {
    color: var(--basic, #FFF);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    width: 475.421px;
    height: 60.228px;
    flex-shrink: 0;
}

.cta-right {
    width: 50%;
    color: #fff;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: flex-end;
    align-items: flex-end;
}

.lets-talk {
    display: flex;
    width: 200px;
    padding: 12px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--secendery, #09F);
    color: var(--basic, #FFF);
    text-align: center;

    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    outline: none;
    border: none;
}

/* footer section */

.footer {
    width: 100%;
    flex-shrink: 0;
    background: rgba(0, 153, 255, 0.04);
    padding: 4% 4%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.div1,
.div2,
.div3,
.div4 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    width: 23%;
}

.company-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.company-des {
    color: var(--body, #494949);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    width: 80%;
}

.social-footer {
    display: flex;
    align-items: flex-start;
    align-items: center;
    gap: 16px;
}

.footer-head {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.footer-items {
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.footer-item a {
    color: var(--body, #494949);
    text-decoration: none;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.newsletter-des {
    color: var(--body, #494949);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.footer-email {
    color: #E5F5FF;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: var(--primary-colors, #333);
    display: flex;
    width: 100%;
    padding: 12px 24px;
    align-items: center;
    gap: 10px;
}

.sub-btn {
    border-radius: 4px;
    background: var(--secendery, #09F);
    display: flex;
    width: 200px;
    height: 54px;
    padding: 12px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    color: var(--basic, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


/* Portfolio Styles */

/* portfolio top section */

hr {
    margin-bottom: 0px;
}

.portfolio-top-section {
    margin: 0;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1694E8;
    color: #fff;
}

.portfolio-top-section h4 {
    color: var(--basic, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.9px;
}

.portfolio-top-section p {
    color: var(--basic, #FFF);
    text-align: center;
    width: 753px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.portfolio-main {
    display: inline-flex;
    padding: 120px 81px 120px 79px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: 92%;
    margin: 20px 4%;
}

.portfolio-top {
    display: flex;
    width: 632px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.portfolio-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.portfolio-des {
    color: var(--body, #494949);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 156%;
    width: 613px;
}

.portfolio-head h4 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 138%;
}

.portfolio-head p {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.portfolio-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;
    align-items: flex-start;

}

.portfolio-item {
    border-radius: 4px;
    background: #FFF;
    margin: 0;
    padding: 20px;
    width: 32%;
    box-shadow: 0px 8px 8px -4px #a09f9f;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p-item-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
    width: 100%;
    padding: 20px;
}

.p-name {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 133%;
}

.p-des {
    width: 376px;
    height: 64.635px;
    color: var(--body, #494949);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
}

.read-more p {
    width: 100%;
}

.see-all-btn button {
    position: relative;
    bottom: 0;
    border-radius: 4px;
    background: var(--secendery, #09F);
    display: flex;
    width: 200px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    outline: none;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.contact-us {
    display: flex;
    width: 70%;
    justify-content: center;
    margin: 60px 15%;
    padding: 2% 0px 0px 10%;
    box-shadow: 0px 8px 16px -4px #a09f9f;
    overflow: hidden;

}

.contact-left {
    width: 50%;
}

.contact-header {
    padding-top: 6%;
}

.contact-header h4 {
    color: var(--primary-colors, #333);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 133%;
}

.contact-header p {
    width: 355px;
    color: var(--primary-colors, #333);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 156%;
}

.contact-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 8%
}

.contact-social {
    padding-top: 40%;
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}

.contact-right {
    display: flex;
    width: 50%;
    position: relative;
    overflow: hidden;

}

.contact-right label {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.contact-right input {
    color: rgba(51, 51, 51, 0.50);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    padding: 10px 40px 10px 0px;
    border: none;
    border-bottom: 1px solid rgba(51, 51, 51, 0.50);
    outline: none;
}

.radio-inputs {
    color: var(--primary-colors, #333);
    padding: 0px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    display: flex;
    justify-content: space-between;
}

.radio-inputs label {
    color: var(--primary-colors, #333);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url('../images/Circle.png');
    background-size: 24px 24px;
    padding: 0px 30px;
    cursor: pointer;
}

input[type="radio"]:checked+label {
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url('../images/bi_check-circle-fill.png');
}

.send-btn input {
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--basic, #FFF);
    border-radius: 4px;
    background: var(--secendery, #09F);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    margin: 60px 0px;

}

.design {
    position: absolute;
    bottom: -8%;
    right: 3%;

}

.design svg {
    position: relative;
    bottom: 100px;
    right: 50px;
}

.eclipse {
    position: absolute;
    bottom: -150%;
    right: -150%;
    border-radius: 300px;
    background: rgba(0, 153, 255, 0.10);
    width: 300px;
    height: 300px;
    transform: rotate(-47.151deg);
}

.newsletter-bottom input{
    width: 100%;
    display: flex;
    flex-direction: row;
}


/* Media Queries */

@media (max-width: 1438px) {

    .right-section {
        width: 100%;
        height: auto;
        padding-left: 0%;
        justify-content: center;
        align-items: center;
    }

    .right-section img {
        width: 100%;
    }

    .main-container {
        width: 100%;
        height: auto;
        padding: 10% 1% 10px 5%;
        flex-direction: column;
        gap: 50px;
    }

    .left-section {
        width: 100%;

    }

    h1.left-head {
        width: 100%;
        font-size: 3rem;
        text-align: center;
    }

    .left-section p {
        width: 100%;
        font-size: 1rem;
        text-align: center;
    }

    .left-btns {
        flex-direction: column;
        width: 100%;
    }

    button.start-project {
        width: 100%;
        font-size: 1rem;
    }

    button.learn-more {
        width: 100%;
        font-size: 1rem;
    }

    /* services-section */

    .services-section {
        height: auto;
        padding: 120px 4%;

    }

    .services-items {
        flex-wrap: wrap;
        justify-content: center;
    }

    .service-item .item-head {
        font-size: 2rem;
    }

    .service-item p {
        width: 95%;
        font-size: 1rem;
    }

    .services-top p {
        font-size: 1.5rem;
    }

    .services-top h4 {
        font-size: 4rem;
    }

    p.service-des {
        width: 80%;
        color: var(--body, #494949);
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 156%;

    }

    .about-us {
        width: 92%;
        height: auto;
        margin: 10px 2% 10px 4%;
        align-items: center;
        justify-content: center;
    }

    .about-left {
        width: 40%;
        display: flex;
        justify-content: center;
    }

    .about-left img {
        width: 120%;
    }

    .about-right {
        width: 52%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
    }

    .about-head {
        font-size: 1.5rem;
        width: 100%;
        text-align: left;
    }

    .about-right h4 {
        width: 100%;
        font-size: 2rem;
        text-align: left;
    }

    .about-des {
        width: 100%;
        font-size: .8rem;
        height: 100%;
    }

    .more-about {
        width: 100%;
        justify-content: center;
    }

    /* expert-section */

    .experts {
        width: 100%;
        height: auto;
        padding: 100px 50px;
    }

    .experts-head {
        font-size: 1.5rem;
        text-align: center;
    }

    .experts-top h4 {
        font-size: 3rem;
        text-align: center;
        width: 100%;
    }

    .experts-des {
        width: 100%;
        font-size: 1rem;
    }

    .expert-cards {
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 100px;
    }

    .expert-name {
        font-size: 1.5rem;
    }

    .expert-position {
        font-size: 1rem;
    }

    /* projects-section */

    .projects {
        padding: 100px 1%;

    }

    .projects-head {
        font-size: 3rem;
    }

    .project-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }

    .project-item {
        width: 40%;
        height: auto;
        justify-content: flex-start;
    }

    .project-item img {
        height: 60%;
    }

    .project-name {
        font-size: 1.5rem;
    }

    .project-des {
        font-size: .9rem;
    }

    .read-more p {
        font-family: inter;
        font-size: 1rem;
    }

    /* faq section */

    .faq {
        padding: 2%;
    }

    .faq-head {
        font-size: 1.5rem;
    }

    .faq h4 {
        font-size: 3rem;
    }

    .q-default {
        padding-bottom: 0px;

    }

    .questions p {
        font-size: .8rem;
    }

    .q-top p {
        font-size: 1.1rem;
    }

    /* Testimonial  */

    .testimonial {
        padding: 4%;
        justify-content: center;
        align-items: center;
    }

    .testimonial-top {
        gap: 10px;
    }

    .testimonial-head {
        font-size: 3rem;
        text-align: center;
    }

    .testimonial-des {
        font-size: 1.1rem;
        text-align: center;
    }

    .testimonial-contents {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .testimonial-content {
        width: 100%;
    }

    .stars {
        gap: 3px;
    }

    .testimonial-details p {
        font-size: .9rem;
    }

    .customer-name {
        font-family: inter;
        font-size: .9rem;

    }

    .customer-position {
        width: 100%;
        font-size: .9rem;
        font-family: inter;
    }

    /* cta section */

    .cta {
        width: 92%;
        margin: 0px 4%;
        padding: 0px 2%;
    }

    .cta-left h4 {
        font-size: 2rem;
        width: 100%;
    }

    .cta-left p {
        font-size: 1rem;
        width: 100%;
    }

    .lets-talk {
        font-size: 1rem;
    }

    /* footer section */

    .footer {
        width: 100%;
        padding: 4% 4%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
    }

    .div1,
    .div2,
    .div3,
    .div4 {
        width: 100%;
        margin: 1%;
        display: flex;
        flex-direction: row;
    }

    .div1 {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
    }

    .div1 img {
        width: 50%;
    }

    .company-details {
        flex-direction: column;
    }

    .company-des {
        font-size: 1rem;
        width: 100%;
    }

    .div2 {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .div4 {
        justify-content: flex-start;
        align-items: flex-start;

    }

    .footer-head {
        font-size: 1.2rem;
        width: 100%;
    }

    .footer-items {
        flex-direction: row;

    }

    .footer-item a {
        font-size: 1rem;
    }

    .newsletter-des {
        width: 100%;
        font-size: 1rem;
    }

    .sub-btn {
        font-size: 1rem;
    }
    .newsletter-top{
        display: flex;
        width: 100%;
    }
    .newsletter-bottom{
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
    }
    .newsletter-bottom input{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .portfolio-top-section{
        margin: 0px;
        display: flex;
        justify-content: center;
    }
    .portfolio-top-section h4 {
        font-size: 4rem;
        text-align: center;
    }
    
    .portfolio-top-section p {
        font-size: 1rem;
        text-align: center;
    }
    .portfolio-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 80px;
        width: 96%;
        margin: 20px 1%;
    }
    
    .portfolio-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }
    
    .portfolio-head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
    
    .portfolio-des {
        font-size: 1rem;
        width: 80%;
    }
    
    .portfolio-head h4 {
        font-size: 3rem;
        width: 100%;
    }
    
    .portfolio-head p {
        font-size: 1.8rem;
        width: 80%;
    }
    
    .portfolio-items {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
        align-items: center;
    
    }
    
    .portfolio-item {
        width: 46%;
        height: auto;
        
    }
    .p-item-details{

        display: flex;
        flex-direction: column;
    }
    .p-name {
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
    }
    
    .p-des {
        font-size: .8rem;
        text-align: justify;
        width: 100%;
        
    }
    
    .read-more p {
        width: 100%;
    }
    
    .see-all-btn button {
        font-size: 1rem;
    }
}

@media (max-width: 700px) {
    .cta-right{
        display: flex;
        flex-direction: column;
    }
    .portfolio-des {
        font-size: 1rem;
        width: 70%;
    }
    .portfolio-item {
        width: 70%;
        height: auto;
        
    }
    .project-item {
        width: 80%;
    }

    .about-us {
        width: 100%;
        margin: 0px 4%;
        flex-direction: column-reverse;
        gap: 0px;
        align-items: center;
        justify-content: center;
    }

    .about-left {
        width: 100%;
        height: auto;
        padding-top: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-left img {
        width: 60%;
    }

    .about-right {
        width: 100%;
        margin: 0;
        padding: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-head {
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
    }

    .about-right h4 {
        width: 100%;
        font-size: 2rem;
        text-align: center;
    }

    .about-des {
        width: 100%;
        font-size: .8rem;
        height: 100%;
        text-align: justify;
    }

    .more-about {
        width: 100%;
        justify-content: center;
        font-size: 1rem;
    }

    .contact-btn {
        width: 100%;
    }
    .div4{
        display: flex;
        flex-direction: column;
    }
    .newsletter-top{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .newsletter-bottom{
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
    }
    .newsletter-bottom input{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    /* cta section */

    .cta {
        width: 92%;
        margin: 0px 4%;
        padding: 0px 5%;
    }

    .cta-left h4 {
        font-size: 1rem;
        width: 100%;
    }

    .cta-left p {
        font-size: .8rem;
        width: 100%;
    }

    .lets-talk {
        font-size: .8rem;
        width: 80%;
    }

}

